.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0rem;
    background-color: var(--primary-bg);
    overflow-x: hidden;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    margin: 0 4em;
}

.txtImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10rem;
}

.txtImg hr {
    font-size: 24px;
}

.txt {
    display: flex;
    margin: 0 auto;
    gap: 2em;
}
.txt div{
    padding: 2em;
}
.txt div ul{
    list-style:circle;
}
.txt div ul li{
    margin-top: 2em;
}
.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.imgContainer img{
    max-width: 396.76px;
}
.hr{
    border: 1px solid var(--secondary-color);
    width:50%;
}