/* Community.module.css */
.container {
    display: flex;
    align-items: center;
    padding: 5rem 5rem;
    justify-content: space-between;
    gap: 3rem;
    background-color: var(--white-color);
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    width: 517px;
}

.logo {
    width: 100px;
    height: auto;
}

.textContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: var(TS-Black);
    text-align: justify;
    gap: 2rem;
}

.textContainer h1 {
    font-size: 24px;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.textContainer p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.textContainer div:last-child {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 1rem;
    color: var(--primary-color);
    

}
@media(max-width:968px){
    .container{
        flex-direction: column;
    }
    .imgContainer{
       justify-content: center;
       margin: 0;
    }
    .imgContainer img{
        
    }
}