.container {
    margin: 2rem 5rem;
}

.txt {
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;
}

.resourceLink {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: var(--secondary-color);
    text-decoration-line: underline;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
}

.imgResources {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.img {
    width: 100%;
    height: auto;
}

.txtContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.txtContainer h1 {
    color: var(--sub-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.txtContainer p {
    color: var(--TS-Black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 1rem;
}

.downloadLink {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--secondary-color);
    text-decoration-line: underline;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    /* gap: 5rem; */
}

.txtLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.txtIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.txtIcon p {
    line-height: 30px;
    color: var(--sub-black);
}

.icon {
    width: 25px;
    height: 25px;
    color: #343F42;
}

.seeLink {
    line-height: 24px;
    color: var(--secondary-color);
    text-decoration-line: underline;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.txtEvent {
    display: flex;
    flex-direction: column;
    color: var(--TS-Black);
}

.txtEvent h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.txtEvent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0.2rem;
}

.eventTxt {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.seeMoreLink {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--primary-color);
}

.postEvent {
    display: flex;
    flex-direction: column;
}

.eventPost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.pastEvent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #908D8E;
    cursor: pointer;
    transition: color 0.3s;
}

.pastEvent :hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem
}

.eventRegister {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),url(../../Assets/Image/Events\ image.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    border-radius: 15px;
    margin-bottom: 2rem;
    gap: 2rem;
    padding: 5rem 2.5rem;
    color: var(--white-color);

}

.eventRegister h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 79px;
    margin-bottom: 2rem;
}

.eventRegister p {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.09em;
}

.eventBtn {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}