.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0rem;
    padding: 1rem;
    background-color: var(--primary-bg);
    overflow: hidden;
}

.container h1 {
    margin-left: 0.8em;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 0rem;
}
.logo{
  max-width: 413px;
  max-height: 598px;
  margin: 0;
  padding: 0;
}
.titleContainer {
    font-size: 39px;
}
.title{
    font-size: 1.2em;
    font-weight: 900;
    margin: 1.5em 0;
}
.desc {
    width: 85%;
}

.readme {
    margin: 1.5em 0;
    color: var(--secondary-color);
}